@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/gotham-bold-webfont.woff2') format('woff2');
    font-display: swap
}

@font-face {
    font-family: 'Gotham-Book';
    src: url('/fonts/gotham-book-webfont.woff2') format('woff2');
    font-display: swap
}
:root {
    --black-gradient: linear-gradient(
        144.39deg,
        #ffffff -278.56%,
        #6d6d6d -78.47%,
        #11101d 91.61%
    );
    --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
    scroll-behavior: smooth;
}

.text-gradient {
    background: radial-gradient(
        64.18% 64.18% at 71.16% 35.69%,
        #a5e4ff 0.89%,
        #83d9fd 17.23%,
        #58c9fa 42.04%,
        #3dc0f8 55.12%,
        #10b0f5 71.54%,
        #009fe3 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.bg-blue-gradient {
    background: linear-gradient(
        157.81deg,
        #a5e4ff 0.89%,
        #83d9fd 17.23%,
        #58c9fa 42.04%,
        #3dc0f8 55.12%,
        #10b0f5 71.54%,
        #009fe3 100%
    );
}

.bg-secondary-gradient {
    background: linear-gradient(
        157.81deg,
        #655a8b 0.89%,
        #4b3f70 17.23%,
        #372a63 42.04%,
        #281b52 55.12%,
        #1e1244 71.54%,
        #0c071d 100%
    );
}

.bg-black-gradient {
    background: linear-gradient(
        144.39deg,
        #ffffff -278.56%,
        #6d6d6d -78.47%,
        #0c071d 91.61%
    );
}

.bg-black-gradient-2 {
    background: linear-gradient(
        -168.39deg,
        #e7abfc -278.56%,
        #885e96 -78.47%,
        #11101d 91.61%
    );
}

.bg-gray-gradient {
    background: linear-gradient(
        153.47deg,
        rgba(255, 255, 255, 0) -341.94%,
        #14101d 95.11%
    );
}

.bg-discount-gradient {
    background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
    box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
    -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
    0% {
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slide-top {
    0% {
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.feature-card:hover {
    background: var(--black-gradient);
    box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
    margin-right: 0px;
}

.feedback-card {
    background: transparent;
}

.feedback-card:hover {
    background: var(--black-gradient);
}

.purple__gradient {
    background: linear-gradient(
        180deg,
        rgba(188, 165, 255, 0) 0%,
        rgba(197, 76, 253, 0.274) 100%
    );
    filter: blur(123px);
}

.pink__gradient {
    background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
    filter: blur(900px);
}

.fucsia__gradient {
    background: rgba(197, 76, 253, 0.219);
    filter: blur(750px);
}
